body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body-color {
    background-color: black;
    height: 522px;
}

/* CSS for the navigation bar */
.navbar {
    display: flex;
    justify-content: flex-start;
    right: 48px;
    position: absolute;
}

/* CSS for the navigation links */
.navbar a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px; /* Adjust the spacing between links */
    margin-top: 40px;
    color: #fff; /* Text color */
}

/* Change link color on hover */
.navbar a:hover {
    color: #B162FF; /* Change the color to red when hovered */
}

/* Change link color when clicked */
.navbar a:active {
    color: #B162FF; /* Change the color to green when clicked */
}

/* CSS for the right-side content */
.right-content {
    position: absolute;
    right: 48px; /* Set the distance from the right edge */
    top: 253px; /* Align with the top of the page */
}

.heading {
    font-size: 40px;
}

.color-heading {
    color: #B162FF;
}

.subheading {
    font-size: 30px;
}

/* CSS for the container */
.content-container {
    text-align: right; /* Align the content to the right */
    color: #FFF;
}

.right-content p {
    margin: 2px 0; /* Set margin-top and margin-bottom to 2 units */
}

/* CSS for the image */
.profile-image {
    width: 650px;
    height: auto;
    flex-shrink: 0;
    box-shadow: 0px 4.12089px 70.05519px 1.03022px rgba(0, 0, 0, 0.25);
}

/* CSS for the rounded button */
.rounded-button {
    background-color: #B162FF; /* Background color for the button */
    color: #FFF; /* Text color for the button */
    border: none;
    border-radius: 36px; /* Round the button corners */
    padding: 10px 20px; /* Adjust the button size */
    text-align: center; /* Center the button text */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 40px 0px rgba(177, 98, 255, 0.25);
}