body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body-color {
    background-color: black;
    height: 522px;
}

/* CSS for the navigation bar */
.navbar {
    display: flex;
    justify-content: flex-start;
    right: 48px;
    position: absolute;
}

/* CSS for the navigation links */
.navbar a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px; /* Adjust the spacing between links */
    margin-top: 40px;
    color: #fff; /* Text color */
}

/* Change link color on hover */
.navbar a:hover {
    color: #B162FF; /* Change the color to red when hovered */
}

/* Change link color when clicked */
.navbar a:active {
    color: #B162FF; /* Change the color to green when clicked */
}

/* CSS for the right-side content */
.right-content {
    position: absolute;
    right: 48px; /* Set the distance from the right edge */
    top: 253px; /* Align with the top of the page */
}

.heading {
    font-size: 40px;
}

.color-heading {
    color: #B162FF;
}

.subheading {
    font-size: 30px;
}

/* CSS for the container */
.content-container {
    text-align: right; /* Align the content to the right */
    color: #FFF;
}

.right-content p {
    margin: 2px 0; /* Set margin-top and margin-bottom to 2 units */
}

/* CSS for the rounded button */
.rounded-button {
    background-color: #B162FF; /* Background color for the button */
    color: #FFF; /* Text color for the button */
    border: none;
    border-radius: 36px; /* Round the button corners */
    padding: 10px 20px; /* Adjust the button size */
    text-align: center; /* Center the button text */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 40px 0px rgba(177, 98, 255, 0.25);
}

/* CSS for the new section */
.about-section {
    background-color: #B162FF; /* Set the background color for the new section */
    display: flex; /* Use flexbox for layout */
    padding: 0; /* Remove padding to have no space between rows */
    margin: 0; /* Remove margin to have no space between rows */
    justify-content: space-between; /* Align content to the left and right edges */
    align-items: flex-start; /* Align content at the top of each row */
}

.about-section h1 {
    color: #FFF;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}

.first-sect, .sec-sect {
    flex-basis: calc(50% - 20px); /* Set the width of each div to 50% with a little spacing */
    padding: 20px;
    box-sizing: border-box;
}

/* Add styles for the content within the divs as needed */
.first-sect p, .sec-sect p {
    color: #fff; /* Text color for the content in the divs */
    font-size: 16px; /* Adjust the font size as needed */
    text-align: justify;
    margin: 0;
}

/* CSS for the "Objectives" div */
.sec-sect {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within the div */
}

/* CSS for the "Read More" button */
.read-more-button {
    background-color: #000; /* Background color for the button */
    color: #FFF; /* Text color for the button */
    border: none;
    border-radius: 20px; /* Round the button corners */
    padding: 10px 20px; /* Adjust the button size */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px; /* Add some spacing between the button and the text */
    cursor: pointer;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25)
}

/* Default font size for body */
body {
    font-size: 16px;
}

/* CSS for larger screens */
@media (min-width: 768px) {
    body {
        font-size: 18px; /* Increase the font size for larger screens */
    }
    .about-section {
        flex-direction: row; /* Change to a row layout for larger screens */
    }
    .first-sect, .sec-sect {
        flex-basis: 50%; /* Equal width for larger screens */
        margin: 0 20px; /* Add spacing between the divs */
    }
    .about-section h1 {
        font-size: 24px; /* Larger heading size for larger screens */
    }
    .first-sect p, .sec-sect p {
        font-size: 18px; /* Larger text size for larger screens */
    }
}

/* CSS for smaller screens */
@media (max-width: 767px) {
    body {
        font-size: 14px; /* Reduce the font size for smaller screens */
    }
    .about-section {
        flex-direction: column; /* Change to a column layout for smaller screens */
    }
    .first-sect, .sec-sect {
        flex-basis: 100%; /* Full width for smaller screens */
        margin: 0; /* Remove spacing between the divs */
    }
    .about-section h1 {
        font-size: 20px; /* Smaller heading size for smaller screens */
    }
    .first-sect p, .sec-sect p {
        font-size: 16px; /* Smaller text size for smaller screens */
    }
}

/* Add a container for the skills to create a grid */
.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Add styles for the line under the active link */
.section-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Initially set to 0 width */
    height: 2px;
    background-color: #B162FF;
    transition: width 0.3s ease; /* Add transition for smooth width change */
}

.section-link.active-section-link::after {
    width: 100%;
}

/* Adjust styles for the "Skills" section */
.hidden-section#skills {
    text-align: center;
}

.skill-card {
    background-color: #B162FF;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Adjust the width to create three in a row */
    text-align: left; /* Align text within the card to the left */
    box-sizing: border-box; /* Include padding and border in the total width */
}

/* Adjust font size for smaller screens */
@media (max-width: 767px) {
    .skill-card {
        width: 100%; /* Full width for smaller screens */
    }
}

/* Adjust styles for visible sections */
.hidden-section.active-section {
    opacity: 1;
    display: block;
}

/* Additional styles for smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Adjust styles for section links */
.section-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.section-link {
    text-decoration: none;
    color: #FFF;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
}

/* Styles for the Education section */
.hidden-section#education {
    text-align: center;
}

.education-entry {
    background-color: #B162FF;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    width: 70%;
    text-align: left; /* Align text within the entry to the left */
    box-sizing: border-box; /* Include padding and border in the total width */
}

.education-entry h3 {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 10px;
}

.education-entry p {
    color: #fff;
    font-size: 16px;
    margin: 5px 0;
}

/* Adjust font size for smaller screens */
@media (max-width: 767px) {
    .education-entry {
        width: 90%; /* Adjust the width for smaller screens */
    }
}

/* Styles for the Experience section */
.hidden-section#experience {
    text-align: center;
}

.experience-entry {
    background-color: #B162FF;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    width: 70%;
    text-align: left; /* Align text within the entry to the left */
    box-sizing: border-box; /* Include padding and border in the total width */
}

.experience-entry h3 {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 10px;
}

.experience-entry p {
    color: #fff;
    font-size: 16px;
    margin: 5px 0;
}

.experience-entry ul {
    list-style-type: none;
    padding: 0;
}

.experience-entry li {
    margin-bottom: 5px;
}

/* Adjust font size for smaller screens */
@media (max-width: 767px) {
    .experience-entry {
        width: 90%; /* Adjust the width for smaller screens */
    }
}

/* Styles for the Skills section */
#skills {
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-card {
    background-color: #B162FF;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 30%;
    text-align: left;
    box-sizing: border-box;
}

.skill-card h3 {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 10px;
}

.skill-card ul {
    list-style-type: none;
    padding: 0;
}

.skill-card li {
    color: #fff;
    font-size: 16px;
    margin: 5px 0;
}

/* Contact Section */
#contact {
    background-color: #fff;
    padding: 60px 0;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.contact-left {
    flex: 1;
}

.contact-left h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.contact-left p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.social-icons a {
    margin-right: 10px;
    color: #333;
    font-size: 24px;
    text-decoration: none;
}

.btn2 {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn2:hover {
    background-color: #555;
}

.contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center; /* Center the content horizontally */
    margin-top: 20px; /* Add margin at the top for spacing */
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-right button {
    background-color: #B162FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-right button:hover {
    background-color: #be82fa;
}

/* Message Sent Success */
#msg {
    color: #B162FF;
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .contact-left,
    .contact-right {
        width: 100%;
        max-width: 400px; /* Adjust the maximum width as needed */
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .contact-left,
    .contact-right {
        max-width: 100%;
        max-width: 100px;
        font-size: 15px;
    }
}